Flask==3.0.2
Flask-SQLAlchemy==3.1.1
Flask-Cors==4.0.1
Flask-SocketIO==5.6.1
Flask-Login==0.6.3
PyJWT==2.13.0
bcrypt==4.1.2
google-auth==2.29.0
requests==2.34.2
python-dotenv==1.2.2
gunicorn==22.0.0
psycopg2-binary==2.9.9
SQLAlchemy==2.0.51
Werkzeug==3.1.8
eventlet==0.41.1
gevent==26.7.0
gevent-websocket==0.10.1
python-socketio==5.16.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
Authlib==1.7.2
email-validator==2.3.0
python-multipart==0.0.32
blinker==1.9.0
google-api-python-client==2.198.0
google-auth-oauthlib==1.4.0
google-auth-httplib2==0.4.0
httplib2==0.32.0
oauthlib==3.3.1
pyOpenSSL==24.3.0
cryptography==49.0.0
passlib==1.7.4
dnspython==2.8.0
tornado==6.4.2
simple-websocket==1.1.0
python-engineio==4.13.3